In [1]:
import numpy as np
import pandas as pd

In [2]:
cars = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\My Jupyter Course\cars_data.csv')

In [3]:
print('Print few rows of the data: ')
print(cars.head())

Print few rows of the data:
  Manufacturer       Model  Engine size Fuel type  Year of manufacture  \
0         Ford      Fiesta          1.0    Petrol                 2002
1      Porsche  718 Cayman          4.0    Petrol                 2016
2         Ford      Mondeo          1.6    Diesel                 2014
3       Toyota        RAV4          1.8    Hybrid                 1988
4           VW        Polo          1.0    Petrol                 2006

   Mileage  Price
0   127300   3074
1    57850  49704
2    39190  24072
3   210814   1705
4   127869   4101

In [4]:
print('Check data type of each column: ')
print(cars.info())

Check data type of each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         100 non-null    object
 1   Model                100 non-null    object
 2   Engine size          100 non-null    float64
 3   Fuel type            100 non-null    object
 4   Year of manufacture  100 non-null    int64
 5   Mileage              100 non-null    int64
 6   Price                100 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.6+ KB
None

In [5]:
print('Summary statistics: Mean, Median and Standard deviation')
print(cars.describe())

Summary statistics: Mean, Median and Standard deviation
       Engine size  Year of manufacture        Mileage         Price
count   100.000000           100.000000     100.000000    100.000000
mean      1.671000          2002.820000  120893.370000  12732.370000
std       0.639964            10.093883   75833.033082  16803.682232
min       1.000000          1985.000000   14070.000000    478.000000
25%       1.200000          1993.750000   56489.750000   2235.000000
50%       1.600000          2002.500000  112242.500000   6285.000000
75%       2.000000          2010.000000  177116.250000  14931.500000
max       4.400000          2021.000000  333629.000000  97758.000000

In [6]:
print('Data correlation: ')
print(cars.select_dtypes(include=['number']).corr())

Data correlation:
                     Engine size  Year of manufacture   Mileage     Price
Engine size             1.000000             0.099885 -0.075638  0.489188
Year of manufacture     0.099885             1.000000 -0.822289  0.742265
Mileage                -0.075638            -0.822289  1.000000 -0.649239
Price                   0.489188             0.742265 -0.649239  1.000000